
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Toplam Ürün</h5>
                    <p class="card-text fs-3">120</p>
                    <small>Son 24 saatte +5 eklendi</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-bg-success">
                <div class="card-body">
                    <h5 class="card-title">Toplam Kategori</h5>
                    <p class="card-text fs-3">8</p>
                    <small>Yeni kategori: İçecekler</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Aktif Slider</h5>
                    <p class="card-text fs-3">3</p>
                    <small>Son slider dün eklendi</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">Son Eklenen Ürünler</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Elma – 10₺</li>
                    <li class="list-group-item">Makarna – 25₺</li>
                    <li class="list-group-item">Zeytinyağı – 150₺</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">Son Eklenen Sliderlar</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Kampanya – %50 İndirim</li>
                    <li class="list-group-item">Yeni Ürünler</li>
                    <li class="list-group-item">Yaz Koleksiyonu</li>
                </ul>
            </div>
        </div>
    </div>

</div>
