<section class="py-5 my-5">
    <div class="container-fluid">
        <div class="bg-warning py-5 rounded-5" style="background-image: url('images/bg-pattern-2.png') no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/FoodMart-1.0.0/images/phone.png" alt="phone" class="image-float img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="my-5">Foodmart Uygulaması ile daha hızlı alışveriş yapın</h2>
                        <p>Lorem ipsum ...</p>
                        <div class="d-flex gap-2 flex-wrap">
                            <img src="~/FoodMart-1.0.0/images/app-store.jpg" alt="app-store">
                            <img src="~/FoodMart-1.0.0/images/google-play.jpg" alt="google-play">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
