@model List<FoodMartMongo.Dtos.SliderDtos.ResultSliderDto>

<section class="py-3" style="background-image: url('~/FoodMart-1.0.0/images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="banner-blocks">

                    <div class="banner-ad large bg-info block-1">

                        <div class="swiper main-swiper">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model)
                                {
                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories my-3">@item.Title</div>
                                                <h3 class="display-4">@item.Subtitle</h3>
                                                <p>@item.Description</p>
                                                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Alışverişe Başla</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="@item.ImageUrl" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    @await Component.InvokeAsync("_DiscountComponentPartial")


                </div>
           

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".main-swiper", {
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
        });
    </script>
}