<section class="py-5">
    <div class="container-fluid">

        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('~/FoodMart-1.0.0/images/bg-leaves-img-pattern.png') no-repeat;">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <div class="section-header">
                            <h2 class="section-title display-4">İlk alışverişinizde <span class="text-primary">%25 İndirim</span></h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
                    </div>
                    <div class="col-md-6 p-5">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">İsim</label>
                                <input type="text"
                                       class="form-control form-control-lg" name="name" id="name" placeholder="İsminiz">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">E-posta</label>
                                <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="ornek@mail.com">
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <label class="form-check-label" for="subscribe">
                                    <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                                    Bültene abone ol
                                </label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg">Gönder</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
