<section class="py-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="banner-ad bg-danger mb-3" style="background: url('~/FoodMart-1.0.0/images/ad-image-3.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">%25'e Varan İndirim</div>
                        <h3 class="banner-title">Luxa Bitter Çikolata</h3>
                        <p>Çok lezzetli ve kremamsı vanilya aromalı muffinler.</p>
                        <a href="#" class="btn btn-dark text-uppercase">Şimdi Göster</a>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="banner-ad bg-info" style="background: url('~/FoodMart-1.0.0/images/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">%25'e Varan İndirim</div>
                        <h3 class="banner-title">Kremalı Muffinler</h3>
                        <p>Çok lezzetli ve kremamsı vanilya aromalı muffinler.</p>
                        <a href="#" class="btn btn-dark text-uppercase">Şimdi Göster</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
